<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clasificador de Residuos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
    {% block content %}{% endblock %}   
    <footer>
        <p>&copy; Ecolovers.</p>
        <p>Designed by: Luisa Estrella</p>
        <p>Developed by: Fabian Solano</p>
    </footer>

</body>


</html>