<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clasificador de Residuos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
<header class="header">
    <div>
        <img class="header-img" src="{{ url_for('static', filename='profile2.jpg') }}" alt="Profile">
    </div>
    <div><strong>
    {% set page_names = {
        'index': 'Inicio',
        'history': 'Historial',
        'tips': 'Tips',
        'places': 'Lugares',
        'perfil': 'Perfil',
        'guide': 'Guía'
    } %}
    {{ page_names.get(request.endpoint, 'Inicio') }}</strong>
</div>

    <div>
        <div class="profile-menu">
            <div class="menu-icon" onclick="toggleMenu()">
                {% include 'icons/menu-2.svg' %}
            </div>

            <div id="dropdownMenu" class="dropdown-menu">
                <a href="/perfil">{% include 'icons/user.svg' %}
                    Perfil</a>
                <a href="/historial">{% include 'icons/settings.svg' %}
                    Configuración</a>
                <hr>
                <a href="{{ url_for('logout') }}" class="logout">
                    {% include 'icons/logout-2.svg' %}
                    Cerrar sesión
                </a>
            </div>
        </div>
    </div>
</header>
    {% block content %}{% endblock %}

    <nav class="floating-island" aria-label="Accesos rapidos">
        <a class="island-btn island-side" href="{{ url_for('places') }}">
            {% include 'icons/location.svg' %}
        </a>

        <a class="island-btn island-center" id="open-camera-dock" type="button">
            {% if request.path == '/' %}
                {% include 'icons/camera.svg' %}
            {% else %}
                {% include 'icons/home-eco.svg' %}
            {% endif %}
        </a>

        <a class="island-btn island-side" href="/guia/carton">
            {% include 'icons/description.svg' %}
        </a>
    </nav>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    
    <footer>
        <p>&copy; Ecolovers.</p>
        <p>Designed by: Luisa Estrella</p>
        <p>Developed by: Fabian Solano</p>
    </footer>

</body>

<script>
function toggleMenu() {
    const menu = document.getElementById("dropdownMenu");
    menu.style.display = menu.style.display === "flex" ? "none" : "flex";
}

window.addEventListener("click", function(e) {
    const menu = document.getElementById("dropdownMenu");
    const profile = document.querySelector(".menu-icon");

    if (!profile.contains(e.target) && !menu.contains(e.target)) {
        menu.style.display = "none";
    }
});
</script>
</html>