<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clasificador de Residuos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
    <header>
        <div class="profileimg">
            <img src="{{ url_for('static', filename='profileicon.png') }}" alt="Profileimg">
        </div>
        <a class="btn btn-ghost btn-logout" href="{{ url_for('logout') }}">{% include 'icons/logout-2.svg' %}</a>
    </header>
    {% block content %}{% endblock %}

    <nav class="floating-island" aria-label="Accesos rapidos">
        <a class="island-btn island-side" href="{{ url_for('places') }}">
            {% include 'icons/location.svg' %}
        </a>

        <a class="island-btn island-center" id="open-camera-dock" type="button">
            {% if request.path == '/' %}
                {% include 'icons/camera.svg' %}
            {% else %}
                {% include 'icons/home-eco.svg' %}
            {% endif %}
        </a>

        <a class="island-btn island-side" href="{{ url_for('tips') }}">
            {% include 'icons/description.svg' %}
        </a>
    </nav>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    
    <footer>
        <p>&copy; Ecolovers.</p>
        <p>Designed by: Luisa Estrella</p>
        <p>Developed by: Fabian Solano</p>
    </footer>

</body>


</html>