{% extends "base-auth.html" %}
{% block content %}
<form method="POST">
<div class="container">
  <div class="header-logo">
      <img src="{{ url_for('static', filename='LOGO.PNG') }}" alt="ecoloverlogo">

</div>
    <div class="container container-auth">
        <h2>Olvidé mi contraseña</h2>
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
        <p>Ingresa tu correo electrónico para recibir un código de restablecimiento.</p>
        <input type="email" name="email" placeholder="Tu correo electrónico" required>
        <button class="btn btn-primary" type="submit">Enviar código</button>
        <a href="{{ url_for('login') }}">Volver al login</a>
  </div>
</form>
{% endblock %}