{% extends "base-auth.html" %}
{% block content %}


<form method="POST">
<div class="container">
  <div class="header-logo">
      <img src="{{ url_for('static', filename='LOGO.PNG') }}" alt="ecoloverlogo">
</div>
    <div class="container container-auth">
        <h2>Restablecer contraseña</h2>
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
        <input type="hidden" name="username" value="{{ username }}">
        <input type="text" name="code" placeholder="Código de 6 dígitos" required>
        <input type="password" name="new_password" placeholder="Nueva contraseña" required>
        <button class="btn btn-primary" type="submit">Restablecer</button>
    </div>
</form>

{% endblock %}